*{
    font-family: sans-serif;
}

body{
    background-color: black;
}

h1{
    text-align: center;
    color: whitesmoke;
    font-size: 23px;
    font-weight: 700;
}

.intentosPalabras{
    text-align: center;
}

input{
    width: 60px;
    height: 60px;
    margin: 1px;
    margin-bottom: 3px;
    border-radius: 5px;
    background-color:black ;
    border: 2px solid rgb(66, 74, 86);
    color: whitesmoke;
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 800;
}

.teclado{
    margin: 30px;
}

.fila{
    display: flex;
    justify-content: center;
}

.tecla{
    color: whitesmoke;
    background-color:rgb(66, 74, 86);
    margin: 3px;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
}

.tecla:hover{
    background-color: rgb(93, 104, 122);
}