*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    margin: 0;
}

.cuerpo{
    padding-top: 1%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10%
}

header{
    background-color: rgb(220, 220, 220);
    padding: 5%;
}

.formulario{
    border: 1px solid black;
    padding: 2%;
}

form input, form select{
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%
}

.advertencia{
    background-color: lightblue;
    padding: 1%;
    border: 1px solid black;
    border-radius: 10px;
}

button{
    margin: 1%;
    padding: 0.5%;
    background-color: rgb(4, 117, 255);
    color: white;
    border-radius: 5px;
}

button:hover{
    background-color: rgb(0, 96, 213);
}

.aLaDerecha{
    margin-left: 40%;
}

.error{
    display: none;
    background-color: rgb(255, 157, 157);
    padding: 4px;
    margin: 10px;
    text-align: center;
    box-shadow: 2px 2px 7px rgb(124, 124, 124);
    border-radius: 10px;
}